@media (max-width: 500px) {
  #page-home {
    background-position-x: 80vw;
  }
  #page-home .content {
    align-items: center;
    text-align: center;
  }
  #page-home main {
    align-items: center;
  }
  #page-home main h1 {
    font-size: 35px;
  }
  #page-home main p {
    font-size: 17px;
    line-height: 20px;
  }
  #page-home header a {
    width: 242px;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* page-create-point */
  form {
    padding: 15px;
    margin: 50px auto;
  }
  form .field-group .field+.field {
    margin-left: 0px;
  }
  #page-create-point header img {
    width: 140px;
  }
  .items-grid {
    grid-template-columns: 1fr 1fr;
  }
  .items-grid li {
    padding: 5px;
    height: 110px;
  }
  /* page-search-results */
  body::after {
    background-color: var(--secundary-color);
  }
  #page-search-results .cards {
    grid-template-columns: 1fr;
  }
  #page-search-results, #page-create-point header a {
    font-size: 12px;
  }
  #page-search-results header img {
    width: 140px;
  }
}

@media (min-width: 501px) and (max-width: 910px) {
  #page-home {
    background-position-x: 1000vw;
  }
  #page-home .content {
    align-items: center;
    text-align: center;
  }
  #page-home header a {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
  #page-home main {
    align-items: center;
  }
}

@media (min-width: 501px) and (max-width: 708px) {
  .items-grid {
    grid-template-columns: 1fr 1fr;
  }
  form .field-group {
    flex-direction: column;
  }
  form .field-group .field + .field {
    margin-left: 0;
  }
}

@media (min-width: 911px) and (max-width: 1000px) {
  #page-home {
    background-position-x: 24vh;
  }
  #page-home main {
    max-width: 350px;
  }
  #page-home main h1 {
    font-size: 44px;
  }
  #page-home main p {
    font-size: 19px;
    line-height: 25px;
  }
}

@media (min-width: 1001px) and (max-width: 1130px) {
  #page-home {
    background-position-x: 35vh;
  }
  #page-home main {
    max-width: 450px;
  }
  #page-home main h1 {
    font-size: 47px;
  }
  #page-home main p {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width:1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (min-height: 768px) {
  #page-home {
    background-position-y: 200px;
  }
}